body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    height: 5rem;
    position: absolute;
    width: 100%;  /* here width of header exceeds the background image */
    box-sizing: border-box;
}

#page-logo a { /* header a {....} */
    font-family: "Oleo script", sans-serif;
    padding: 40px;
    color: rgb(237, 145, 46);
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgba(0,0,0);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li a {
    text-decoration: none;
    color: rgb(237, 145, 46);
    padding: 10px;
    font-size: 20px;
    font-weight: 800px;
}

nav li a:hover {
    background-color: rgb(237, 145, 46);
    padding: 10px;
    border-radius: 6px;
    color: black;
}

header ul {
    display: flex;
    justify-content: space-around;
}
header li {
    margin-left: 30px;
}
/*-----------------------------------------------------------------------*/
.menu-btn {
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}
.menu-btn span {
    background-color: rgb(253, 139, 25);
    width: 100%;
    height: 3px;
}
/*-------------------------------------------------------------*/
#side-drawer {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(80deg, rgb(63, 231, 228), rgb(135, 246, 244)) /* here width of header exceeds the background image */
}
#side-drawer:target {
    display: block;
}
#side-drawer header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
    position: absolute;
    width: 100%;  /* here width of header exceeds the background image */
}

#side-drawer ul {
    margin: 8rem;
    height: 5rem;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#side-drawer li {
    margin: 1rem 0;
    padding: 1rem;
}
#side-drawer li a {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* ----------------------------------------------------------------------- */
footer {
    background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
    padding: 30px;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    width: 80px;
    height: 80px;margin: 2px 50px;
  
}

footer img {
    width: 100%;
    height: 100%;
}

